<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Senior Design Crime Analysis</title>
        <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/style.css" /> 
    </head>
    <body>
        <div data-role="page">
            <!--header-->
            <div data-role="header" data-position="fixed">
                <div class="top">
                    <div data-role="navbar">
                        <img id="logo" src="/images/logo.png" alt="Drexel Computing and Informatics" style="width:400px;">
                    </div>
                </div>
            </div>
            <!--/header-->
            <!--body-->
            <div data-role="content">
                <div class="flex-container">
                    <div>
                        <h1>Crime Data Visualization</h1>
                    </div>
                </div>
                <div id="selections" class="flex-container">
                    <div id="city-select">
                        <label for="cities-select">Select a City</label>
                        <select name="city" id="cities-select" onchange="validateCity(this)">
                            <option disabled selected>-- Select City --</option>
                            <% if(cities.length){ for(var i = 0; i< cities.length; i++) {%>
                                <option><%=cities[i].City%></option>
                            <% } }else{ %>
                                <option>None</option>
                            <% } %>
                        </select>
                    </div>

                    <div id="year-select">
                        <label for="years-select">Select a Year</label>
                        <select name="year" id="years-select" onchange="validateYear(this)"">
                            <option disabled selected>-- Select Year --</option>
                            <% if(years.length){ for(var i = 0; i< years.length; i++) {%>
                                <option><%=years[i].Year%></option>
                            <% } }else{ %>
                                <option>None</option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="flex-container">
                    <div id="search">
                        <button id="search-button">Search</button>
                    </div>
                </div>
                <div class="flex-container">
                    <div id="db-data">
                        <!-- DB DATA GOES HERE -->
                    </div>
                </div>
            </div>
            <!--/body-->
        </div>
        <script src="js/demo.js"></script> 
        <script src ="/js/populateWebPage.js"></script>  
    </body>
</html>