{% block content %}
    <!-- <div class="site-header-logo">
        <h1 class="text-center">
            Crimelist
        </h1>
    </div> -->
    <!-- <div class="text-center">
        <i id="loadingSymbol"></i>
    </div> -->
    {% include 'paginationTab.html' %}
    <div id="tablePage" class="text-center">Viewing page {{pageNumber+1}} out of {{pages+1}}</div>
    <div class="d-flex justify-content-center">
        <table id="example" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Category</th>
                <th scope="col">Specific Crime</th>
                </tr>
            </thead>
            <tbody id="dataBody">
                {% for o in crimeData %}
                    <tr>
                    <th scope="row">{{o[0]}}</th>
                    <td>{{o[3]}}</td>
                    <td>{{o[2]}}</td>
                    <td>{{o[1]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'paginationTab.html' %}


  

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        //$("#loadingSymbol").text('Loading Table... ');

        

            $(".pageNext").click(function (element) {
                let pageView = "{{pageNumber}}"
                let increase=parseInt(pageView)+1
                
                //window.location.href = "/analysis/{{ city }}/crimelist?pageNumber="+increase;
                url="http://127.0.0.1:2000/crimeListSpec/city={{city}}pageNumber="+increase
                fetch(url)
                    .then((res) => {
                        if (!res.ok) { 
                            throw new Error("HTTP error " + res.status)
                        }
                        console.log(res)
                        return res.text()
                    })
                    .then((data)=> {
                        $("#dataBody").html("")
                        let newData=JSON.parse(JSON.parse(data).data)
                        for(let x=0; x<25; x++){
                            $("#dataBody").append("<tr><th scope='row'>"+newData['row_no'][x]+"</th><td>"+newData['date'][x]+"</td><td>"+newData['crime_type'][x]+"</td><td>"+newData['offense'][x]+"</td></tr>")
                        }
                    })
                    .catch((err) => {
                        console.log(err);
                        $("#dataBody").html("<div>Error loading table</div>")

                    });
            })
            $(".pagePrev").click(function (element) {
                let pageView = "{{pageNumber}}"
                if(pageView>0){
                    let decrease=parseInt(pageView)-1
                    window.location.href = "/analysis/{{ city }}/crimelist?pageNumber="+decrease;  
                }
            })
            $(".pageFirst").click(function (element) {
                window.location.href = "/analysis/{{ city }}/crimelist?pageNumber=0";  
            })
            $(".pageLast").click(function (element) {
                let lastPage = "{{pages}}"
                console.log(lastPage)
                window.location.href = "/analysis/{{ city }}/crimelist?pageNumber="+lastPage;  
            })

            $(".specPage").click(function (element) {
                console.log($(this).text())
                $("#dataBody").html("<div>Loading Table...</div>")
                let pageNumber=$(this).text()
                url="http://127.0.0.1:2000/crimeListSpec/city={{city}}pageNumber="+pageNumber
                fetch(url)
                    .then((res) => {
                        if (!res.ok) {
                            throw new Error("HTTP error " + res.status)
                        }
                        
                        //console.log(res)
                        //window.location.replace(res.url)
                        //document.getElementById("chart2Load").innerHTML=``
                        //Plotly.plot("chart1", JSON.parse(JSON.parse(data)[0]),{});
                        console.log(res)
                        return res.text()
                    })
                    .then((data)=> {
                        $("#dataBody").html("")
                        let newData=JSON.parse(JSON.parse(data).data)
                        for(let x=0; x<25; x++){
                            $("#dataBody").append("<tr><th scope='row'>"+newData['row_no'][x]+"</th><td>"+newData['date'][x]+"</td><td>"+newData['crime_type'][x]+"</td><td>"+newData['offense'][x]+"</td></tr>")
                            //document.getElementById("dataBody").html("<tr><th scope='row'>hi</th><td>hi</td><td>hi</td><td>hi</td></tr>")
                        }
                        //console.log(JSON.parse(data.data))
                    })
                    .catch((err) => {
                        console.log(err);
                        $("#dataBody").html("<div>Error loading table</div>")

                    });
            })
            

            /*$('#example').dataTable({
                "fnInitComplete": function (oSettings, json)
                    {
                        $('#loadingSymbol').text('')
                        $('#example').removeClass("d-none")
                    }
            });*/
            //$('#loadingSymbol').text('')
            //$('#example').removeClass("d-none")
    </script>
{% endblock %}