{% block content %}
<div class="row my-5">
    <div id="crime-list" class="col-lg-12">
        <div class="card-effect">
            <div>
                <h4>List of Crimes</h4>
            </div>
            <div>
                <i id="loadingSymbol"></i>
                <div class="table-responsive">
                    <table id="example" class="d-none table table-hover ">
                        <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Date</th>
                                <th scope="col">Category</th>
                                <th scope="col">Specific Crime</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for o in crimeData %}
                            <tr>
                                <td scope="row">{{o[0]}}</td>
                                <td>{{o[3]}}</td>
                                <td>{{o[2]}}</td>
                                <td>{{o[1]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    $("#loadingSymbol").text("Loading Table... ");

    $(document).ready(function () {
        $("#example").dataTable({
            responsive: true,
            fnInitComplete: function (oSettings, json) {
                $("#loadingSymbol").text("");
                $("#example").removeClass("d-none");
            },
        });
    });
</script>
{% endblock %}
