{% block content %}
    <div class="mt-2" id="graph-results">
        <div id="cityRenderStatus" >
        </div>
        <div class="col card">
            <div class="card-header">             
                <h2>{{city}} Compared to Top Cities in U.S.</h2>
            </div>
            
            <div id="chart3Load"></div>
            <div id="chart3"></div>
            <br/>
            
        </div>
        <div class="row container-center text-center">
            <div class="col card">
                <div class="card-header">             
                    <h2>{{city}} Crime Types {% if compCity %} in {{pieYears}} {% endif %}</h2>
                </div>

                <div id="chart1Load"></div>
                <div id="chart1"></div>
                <br/>
                <div id="year-select" >
                    <label for="years-select">Select Years</label>
                    {% for o in years %}
                        <div class="form-check form-check-inline">
                            {% if pieYears and o in pieYears %}
                                <input class="form-check-input yearsCheck" type="checkbox" value="{{o}}" checked>
                            {% else %}
                                <input class="form-check-input yearsCheck" type="checkbox" value="{{o}}">
                            {% endif %}
                            
                            <label class="form-check-label" for="inlineCheckbox1">{{o}}</label>
                        </div>
                    {% endfor %}
        
                    <button class="btn btn-primary" type="button" id="updateYearsComp" >
                        Set Years
                    </button>
                </div>
            </div>
            <div class="col card">
                <div class="card-header">
                    {% if compCity %}
                        <h2>Comparing {{city}} to {{compCity}}</h2>
                    {% else %}
                        <h2>{{city}} Crime Count for each year</h2>
                    {% endif %}
                  </div>

                <div id="chart2Load"></div> 
                <div id="chart2"></div> 
                <div id="secondCityForm" class="row w-50 mx-auto">
        
                    <div id="city-select" class="col-sm-8">
                        <label for="cities-comp-select">Select a City to Compare</label>
                        <select name="city" id="cities-comp-select" class="form-select">
                            {% for o in cities %}
                                <option value="{{ o }}">{{ o }}</option>
                            {% endfor %}
                        </select>
                        
                    </div>
                    <div class="col-sm-4 d-flex align-items-end">
                        <button class="btn btn-primary" id="updateCityComp" >
                            submit
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <hr/>
            
    </div>

    <script type="text/javascript">

        

        $(document).ready(function() {
            var graphs1 = {{ graph1JSON | safe}};
            Plotly.plot("chart1", graphs1,{});

            var graphs2 = {{ graph2JSON | safe}};
            Plotly.plot("chart2", graphs2,{});

            var graphs3 = {{ graph3JSON | safe}};
            Plotly.plot("chart3", graphs3,{});

            
            $("#updateYearsComp").click(function() {
                yearsSelected=$('.yearsCheck:checkbox:checked')
                let years=[]
                if(yearsSelected.length>0){
                    for(let x=0; x<yearsSelected.length; x++){
                        console.log(yearsSelected[x].value)
                        years.push(yearsSelected[x].value)
                    }
                }
                else{
                    yearsSelected=$('.yearsCheck:checkbox')
                    for(let x=0; x<yearsSelected.length; x++){
                        years.push(yearsSelected[x].value)
                    }
                }

                document.getElementById("chart1Load").innerHTML=`<div>Loading Graphs...</div>`
                let url=""
                if("{{compCity}}"){
                    url="/analysis/{{city}}/{{tab}}/enhanceGraphs/pieYears="+years+"compCity={{compCity}}"
                } else{
                    url="/analysis/{{city}}/{{tab}}/enhanceGraphs/pieYears="+years
                }

                
                fetch(url)
                .then((res) => {
                    if (!res.ok) {
                        throw new Error("HTTP error " + res.status)
                    }
                    console.log(res)
                    //document.getElementById("chart1Load").innerHTML=``
                    window.location.replace(res.url)

                })
                .catch((err) => {
                    console.log(err);
                    document.getElementById("chart1").innerHTML=`<div>Error loading graphs</div>`

                });
                
            });

            $("#updateCityComp").click(function() {
                const cityComp =$("#cities-comp-select").val()
                document.getElementById("chart2Load").innerHTML=`<div>Loading Graphs...</div>`
                let url=""
                console.log(cityComp)
                if("{{pieYears}}"){
                    console.log("{{pieYears}}")
                    url="/analysis/{{city}}/{{tab}}/enhanceGraphs/pieYears={{pieYears}}compCity="+cityComp
                } else{
                    url="/analysis/{{city}}/{{tab}}/enhanceGraphs/compCity="+cityComp
                }

                fetch(url)
                .then((res) => {
                    if (!res.ok) {
                        throw new Error("HTTP error " + res.status)
                    }
                    console.log(res)
                    window.location.replace(res.url)
                    //document.getElementById("chart2Load").innerHTML=``

                })
                .catch((err) => {
                    console.log(err);
                    document.getElementById("chart2").innerHTML=`<div>Error loading graphs</div>`

                });
            });
            
        });
        

        
    </script>
{% endblock %}
