{% extends "layout.html" %}
{% block content %}
    <div class="site-header-logo">
    </div>
    <div class="row w-50 mx-auto align-items-center" style="height: 80vh;">
        <div id="initialForm">
            <div class="text-center mb-2">
                <h3 class="text-muted">Select a city to view crime statistics</h3>
            </div>
            <div id="city-select"> 
                <select name="city" id="cities-select" class="form-select">
                    {% for o in cities %}
                        <option value="{{ o }}">{{ o }}</option>
                    {% endfor %}
                </select>

            </div>
            <div class="text-center">
                <button type="button" id="formButton" class="btn btn-outline-primary mt-2">Generate Statistics</button>
            </div>
        </div>        
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#formButton").click(function() {
                var value = $("#cities-select").val()
                console.log(value)
                window.location.href="/analysis/"+value+"/data"
            });
        })
    </script>

{% endblock %}