{% block content %}
<div class=" bg-light flex-container mx-auto align-items-center no-pad row card" style="width: 90%;" id="google_maps_div" data-city-lat="{{ cityLat }}" data-city-lng="{{ cityLng }}">
    {% set inputValue = "" %}
    {% set inputLatitude = "" %}
    {% set inputLongitude = "" %}
    {% set inputRadius = "" %}
    {% if(address) %}
        {% set inputValue = address %}
    {% endif %}

    {% if(latitude) %}
        {% set inputLatitude = latitude %}
    {% endif %}

    {% if(longitude) %}
        {% set inputLongitude = longitude %}
    {% endif %}

    {% if(radius) %}
        {% set inputRadius = radius %}
    {% endif %}

    {% if(unit =="mi") %}
        {% set milesSelected = "selected" %}
        {% set kmSelected = "" %}
    {% else %}
        {% set milesSelected = "" %}
        {% set kmSelected = "selected" %}
    {% endif %}
        <div class="text-center mb-2">
            <i class="text-muted">Enter an address and radius to check the safety score of a specific area of {{ city }}</i>
        </div>
        <div class="row g-2 w-75 mx-auto">

            <div class="col-sm-5"> 
                <input
                placeholder="Address"
                list="addresses"
                id="address-input"
                type="text"
                class="form-control text-center"
                value="{{ inputValue }}"
                style="background-color: #E9ECEF; "/>
            </div>
            
            <div class="col-sm-3 text-center">
                
                <input
                placeholder="Radius"
                id="radius-input"
                type="range"
                min="0.1"
                max="2.0"
                class="slider align-bottom"
                value="{{ inputRadius }}"
                style="border:none; "
                step="0.1"/>
                
            </div>
            <div class="col-sm-2 align-items-center">
                <span id="radius-value" class=""></span>
                <select class="form-select" id="radius_unit" style="background-color: #E9ECEF; display: inline; width: 80%;">
                    <option {{ milesSelected }} value="mi">miles</option>
                    <option {{ kmSelected }} value="km">kilometres</option>
                </select>
            </div>
            
            <div class="col-sm-1">                
                <button type="button" id="calculate-score" class="btn btn-primary d-flex align-items-end no-pad" 
                    data-address="{{ inputValue }}" data-lat="{{ latitude }}" data-lng="{{ longitude }}">Calculate</button>
            </div>
        </div>   
        {% if(status and status == "failed") %}
            <div class="text-center">
                <p id="error-score" class="text-danger">The selected address is not located within {{city}}</p>
            </div>
        {% endif %}
    <div class="text-center">
        <p id="calculating-score"></p>
    </div>
    {% if(safetyScore) %}
        {% if safetyScore == 1 %}
            {% set cardColor = "danger" %}
            {% set cardText = "A safety score of 1 means this area is very unsafe compared to the rest of " + city + "." %}
        {% elif safetyScore == 2 %}
            {% set cardColor = "danger" %}
            {% set cardText = "A safety score of 2 means this area is unsafe compared to the rest of " + city + "." %}
        {% elif safetyScore == 3 %}
            {% set cardColor = "warning" %}
            {% set cardText = "A safety score of 3 means this area is okay compared to the rest of " + city + "." %}
        {% elif safetyScore == 4 %}
            {% set cardColor = "success" %}
            {% set cardText = "A safety score of 4 means this area is safe compared to the rest of " + city + "." %}
        {% else %}
            {% set cardColor = "success" %}
            {% set cardText = "A safety score of 5 means this area is very safe compared to the rest of " + city + "."  %}
        {% endif %}
        <div>
            <div class="text-center">
                <h3 class="text-center ">Overall Safety Score</h3>
                <h1 class="text-center text-{{ cardColor }}">{{ safetyScore }}</h1>
                <p class="text-{{ cardColor }}">{{ cardText }}</p>
                <i class="text-muted">Note: This score was calculated using crime incident reports from 2019 through 2021</i>
                </div>
            </div>
            <div class="row g-1 card-effect">
                <div class="col-md-6 blog-post" id="chart1"></div>
                <div class="col-md-6 blog-post" id="frameContainer"></div>
            </div>
            
        </div>
    {% endif %}
</div>
<script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwhEnLg4K-Bhhuntc3zoMw7oVIhI0neqk&libraries=places&callback=initMap">
</script>
<script>
    
    function initMap(){
        const cityLat = $("#google_maps_div").data("city-lat");
        const cityLng = $("#google_maps_div").data("city-lng");

        const center = { lat: cityLat, lng: cityLng };

        // Create a bounding box with sides ~10km away from the center point
        const defaultBounds = {
            north: center.lat + 0.1,
            south: center.lat - 0.1,
            east: center.lng + 0.1,
            west: center.lng - 0.1,
        };

        const options = {
            bounds: defaultBounds,
            componentRestrictions: { country: "us" },
            fields: ["formatted_address", "geometry"],
            strictBounds: false,
        };
        
        const autocomplete = new google.maps.places.Autocomplete($("#address-input").get(0), options);

        autocomplete.setFields(["formatted_address", "geometry"]);
                
        autocomplete.addListener('place_changed', function (place) {
            $("#calculate-score").data("lng",  autocomplete.getPlace().geometry.location.lng());
            $("#calculate-score").data("lat", autocomplete.getPlace().geometry.location.lat()); 
            $("#calculate-score").data("address", autocomplete.getPlace().formatted_address);
        });
    }

    $( document ).ready(function() {

        var slider = document.getElementById("radius-input");
        slider.value = 2;
        var output = document.getElementById("radius-value");
        output.innerHTML = slider.value;

        slider.oninput = function() {
            output.innerHTML = this.value+" ";
        }
        if("{{ graph }}" != "None"){
            var newGraph = {{ graph | safe}};
            Plotly.plot("chart1", newGraph,{});
        }
        
        if("{{address}}"){
            $('<iframe>', {
            src: "/mapGenSafetyScorecity={{city}}lat={{latitude}}lng={{longitude}}radius={{radius}}unit={{unit}}",
            id:  'myFrame',
            frameborder: 0,
            scrolling: 'no',
            width:'100%',
            height:'100%'
            }).appendTo('#frameContainer').ready(function () {
                console.log("Done");
            });
        }
        
        
       $("#calculate-score").on("click", function (){
            let selectedAddress = $(this).data("address");    
            let radius = $("#radius-input").val();

            if(!selectedAddress){
                $("#address-input").addClass("is-invalid");
            }
            if(!radius){
                $("#radius-input").addClass("is-invalid");
            }

            if(selectedAddress && radius){
                $("#calculating-score").text("Calculating safety score...");
                let latitude = $(this).data("lat");
                let longitude = $(this).data("lng");
                let unit = $("#radius_unit").find(":selected").val();

                window.location.href = "/analysis/{{ city }}/safety?address="+selectedAddress+"&latitude="+latitude+"&longitude="+longitude+"&radius="+radius+"&city={{ city }}&unit="+unit;
            }
            
       });
    });
</script>
{% endblock %}
